body{
    background-color: rgb(230, 234, 163);
}
header{
    background-color: rgb(236, 153, 44);
    max-width: 1360px;
}
#pol:hover{
    background-color: rgb(187, 71, 21);
}
#mus:hover{
    background-color: rgb(9, 128, 180);
}
#eco:hover{
    background-color: rgb(139, 8, 76);
}
#esp:hover{
    background-color: rgb(39, 171, 6);
}
#pol{
    background-color: tomato;
}
#mus{
    background-color: aqua;
}
#eco{
    background-color: crimson ;
}
#esp{
    background-color: chartreuse;
}
a{
    color: rgb(252, 218, 0);
}
a:hover{
    color: rgb(15, 234, 250);
}